<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./css/common.min.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
	<div id="app">
		<van-nav-bar
			:fixed="true"
			title="记录"
			placeholder = "true"
			id="reset"
			left-text="返回"
			@click-right="showSearchPanel"
			@click-left="tab(0,0)"
		>
			<template #right>
			    <van-icon name="search" color="#1AA034" size="22"/>
			</template>
			<template #left>
			    <van-icon name="more-o" color="#1AA034" size="22" @click="showd = true"/>
			</template>
		</van-nav-bar>
		
		<van-action-sheet
			v-model="showd"
			:actions="actions"
			@select="changed"
		></van-action-sheet>
		
		<van-pull-refresh disabled class="container">
			<div class="row c1" >
				<div id="cont" class="col-xs-4 col-lg-2" v-for="(resource,index) in list">
					<a v-bind:href="resource.resolve_code" style="text-decoration:none;">
						<div><img id="image" class="img-rounded" v-bind:src="resource.video_cover" onerror="this.src='./images/no.png';this.onerror=null"/></div>
						<div class="caption">
							<font id="t1">{{resource.video_name_cn}}</font><br/>
							<font id="t2">{{resource.introduce}}</font>
						</div>
					</a>
			   </div>
			</div> 
			<br/>
			<van-pagination
				v-if="if_show"
				v-model="currentPage"
				:total-items="totalitems"
				:show-page-size="5"
				:items-per-page="itemsperpage"
				:page-count="pagecount"
				@change="nextpage(currentPage)"
			>
				<template #prev-text>上页</template>
				<template #next-text>下页</template>
				<template #page="{ text }">{{ text }}</template>
			</van-pagination>
			<br/>
		</van-pull-refresh>
		
		<van-tabbar v-model="app_tabbar" active-color="#07c160" inactive-color="#000" fixed=true>
			<van-tabbar-item icon="home-o" @click="tab(0,0)">首页</van-tabbar-item>
			<van-tabbar-item icon="play-circle-o" @click="tab(0,1)">直播</van-tabbar-item>
			<van-tabbar-item icon="contact" @click="tab(0,2)">我的</van-tabbar-item>
		</van-tabbar>
	</div>
</body>
<script src="./js/vue.min.js"></script>
<script src="./js/vant.min.js"></script>	
<script src="./js/jquery.min.js"></script>
<script src="./js/jquery.base64.js"></script>
<script src="./js/cookie.min.js"></script>
<script src="./js/common.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script type="text/javascript">
	res_load(jl);
</script>
</html>