<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./css/common.min.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<script src="./js/vue.min.js"></script>
	<script src="./js/vant.min.js"></script>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery.base64.js"></script>
	<script src="./js/common.min.js"></script>
	<script src="./js/cookie.min.js"></script>
	<script src="./js/data.min.js"></script>
	<script src="./js/hls.min.js"></script>
</head>
<body>
	<div id="living_app" style="height: 100%;overflow-y: hidden;">
		<van-nav-bar
			fixed
			title="在线直播"
			placeholder = "true"
			id="reset"
		>
		</van-nav-bar>
		<video
			muted   
			autoplay="autoplay" 
			id="video" 
			width="100%" 
			height="30%"
			x5-video-player-type="h5-page"
			x5-playsinline="true" 
			playsinline="true" 
			webkit-playsinline="true" 
			x-webkit-airplay="allow" 
			controls
			style="background-color:#000;">
		</video>
		<div id="live_data" style="width:100%;margin-top:1%;height:55%;margin-bottom:10%;overflow-y: scroll;">
			<van-cell-group v-for="(res,index) in obj" >
				<van-cell 
					:title="(index+1)+' . '+res.name"
					is-link 
					clickable=true
					title-style="color:#074560;"
					icon="play-circle" 
					@click="sethref(res.name,res.phone)">
				</van-cell>
			</van-cell-group>
			<br/>
		</div>
		
		
		<van-tabbar v-model="active" active-color="#07c160" inactive-color="#000" fixed=true>
			<van-tabbar-item icon="home-o" @click="tab(0,0)">首页</van-tabbar-item>
			<van-tabbar-item icon="play-circle-o" @click="tab(0,1)">直播</van-tabbar-item>
			<van-tabbar-item icon="contact" @click="tab(0,2)">我的</van-tabbar-item>
		</van-tabbar>
	</div>
</body>	
<script type="text/javascript">
	$(function(){
		living_app.$set(living_app,"obj",tv_list);
		// $("#living_app").animate({scrollTop:"0px"},0);
		// loadVideo(tv_list[47].phone+"?rel=0&amp;autoplay=1");
	});
	var living_app = new Vue({
		el:"#living_app", 
		data: {
			active: 1, 
			obj:'',
		},
		methods:{
			sethref(index,val){
				loadVideo(val+"?rel=0&amp;autoplay=1");
			},
		},
	});
</script>
</html>