<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover"">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="./css/index.css">
	<link rel="stylesheet" href="./css/common.min.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<title>设置</title>
</head>
<body>
	<div id="setting_app" style="height:100%;">
		<van-nav-bar
			fixed
			title="我的"
			placeholder = "true"
			id="reset"
			@click-right="showShare = true"
		>
			<template #right>
			    <van-icon name="share-o" color="#07c160" size="18" />
			</template>
		</van-nav-bar>
		
		<div class="container" style="height:30%;background:url(images/bg.png);background-size:cover;width:100%;"> 
			<div class="row">
				<div class="col-lg-12 col-xs-12" style="text-align:center;padding-top:12px;">
					
				</div>
			</div>
			
		</div>
		
		<van-cell-group style="padding-left:10px;padding-right:10px;border:none">
			
			<van-cell
				title="意见反馈"
				is-link 
				clickable=true
				title-style="color:#074560;"
				icon="chat-o" 
				@click="tofeedback">
			</van-cell> 
			
			<van-cell
				title="软件更新"
				is-link 
				clickable=true
				title-style="color:#074560;"
				icon="replay" 
				:value="version"
				@click="updateversion">
			</van-cell> 
			
			<van-cell
				title="清除缓存"
				is-link 
				icon="delete" 
				clickable=true
				title-style="color:#074560;"
				:value="storage_size+'MB'"
				@click="clear_c">
			</van-cell>
			
			<van-cell
				title="关于软件"
				is-link 
				clickable=true
				title-style="color:#074560;"
				icon="contact" 
				@click="toabout">
			</van-cell> 
		</van-cell-group>
		
		<van-share-sheet
			v-model="showShare"
			title="立即分享给好友"
			:options="options"
			@select="onSelect"
		></van-share-sheet>
		
		<van-tabbar v-model="active" active-color="#07c160" inactive-color="#000" fixed=true>
			<van-tabbar-item icon="home-o" @click="tab(0,0)">首页</van-tabbar-item>
			<van-tabbar-item icon="play-circle-o" @click="tab(0,1)">直播</van-tabbar-item>
			<van-tabbar-item icon="contact" @click="tab(0,2)">我的</van-tabbar-item>
		</van-tabbar>
	</div>
</body>
	
	<!-- 引入组件 -->
	<script src="./js/vue.min.js"></script>
	<script src="./js/vant.min.js"></script>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/cookie.min.js"></script>
	<script src="./js/common.min.js"></script>
	<script src="./js/version.min.js"></script>
		
	<script type="application/javascript">
		var storage_size=get_cache_size('l');
		var version=get_cache("version");
		// 必须实例化
		var setting_app = new Vue({
			el:"#setting_app", 
			data: {
				active: 3,
				value: '',
				version:version,
				showShare: false,
				storage_size: storage_size,
				options: [
					[
						{ name: '微信', icon: 'wechat' },
						{ name: '复制链接', icon: 'link' },
						{ name: '二维码', icon: 'qrcode' },
					],
				  ],
			},
			methods: {
				onSelect(option) {
				  vant.Toast(option.name);
				  /* if(option.name='复制链接'){
					  vant.Toast('复制链接');
				  }else if(option.name='二维码'){
					  vant.Toast('二维码');
				  }else{
					  vant.Toast('微信');
				  } */
				  this.showShare = false;
				},
				onInput(checked) {
				  vant.Dialog.confirm({
						title: '提示',
				  }).then(() => {
						this.checked = checked;
				  });
				},
				tofeedback(){
					window.location.href="feedback.html";
				},
				toabout(){
					window.location.href="about.html";
				},
				clear_c(){
					vant.Dialog.confirm({
						message: '您确定要清空所有浏览数据吗？',
					}).then(() => {
						clearAllRecord();
						setting_app.$set(setting_app,"storage_size",0);
					});
					
				},
				onClickRight(){
					alert("哈哈");
				},
				updateversion(){
					var ver_num=plusReady_confirm();
					set_cache("version",ver_num);
					setting_app.$set(setting_app,"version",ver_num);
				},
			},
		});
	</script>
</html>