<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no, viewport-fit=cover"">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
	<div id="theme_app">
		<van-nav-bar
			fixed="true"
			placeholder = "true"
			:title="theme_title"
			id="reset"
			left-arrow="true"
			left-text="返回"
			@click-left="torank"
		></van-nav-bar>
		
		<div style="width: 100%; height: 100%;">
		    <video 
				autoplay="autoplay" 
				id="video" 
				width="100%" 
				height="30%" 
				x5-video-player-type="h5-page"
				x5-playsinline="true" 
				playsinline="true" 
				webkit-playsinline="true" 
				x-webkit-airplay="allow" 
				controls
				style="background-color:#000;">
			</video>
			
			<table style="margin-top:5px;"><tr style="width:100%;margin-top:1%;height:60%;">
				<td colspan='3'><div id="title">Title</div></td>
				<td class="p4">
					<van-button 
						plain 
						round 
						type="primary" 
						id="list" 
						is-link 
						@click="showPopup" 
						size="small"
						icon="wap-nav"
					>
						剧集
					</van-button >
				
				</td></tr>
				<tr>
					<td id="p1">类型：</td><td id="vtype" class="p2">-</td>
					<td id="p1">类别：</td><td id="vdefi" class="p2">-</td>
				</tr><tr>
					<td id="p1">地区：</td><td id="diqu" class="p2">-</td>
					<td id="p1">导演：</td><td id="daoyan" class="p2">-</td>
				</tr><tr>
					<td id="p1">年份：</td>
					<td id="online" class="p3" colspan='3'>-</td>
				</tr><tr>
					<td id="p1">主演：</td>
					<td id="zhuyan" class="p3" colspan='3'>-</td>
				</tr><tr>
					<td id="p1">简介：</td>
					<td id="vintro" class="p3" colspan='3'>-</td>
				</tr>
			</table>
		</div>
		
		<van-popup
			round
			v-model="list_pannel_show" 
			position="bottom" 
			:overlay=false
			:closeable=true
			:safe-area-inset-bottom=true
			:style="{ height: '70%' }" >
			
			<van-list
				v-model="loading"
				:finished="finished"
				finished-text="没有更多了"
				@load="onLoad"
				style="margin-top:60px;margin-bottom:60px;">
				
				<van-cell v-for="(code,no) in list">
					<van-button plain type="primary" block @click="changejuji(code.m3u8,code.name)">
						{{code.name}}
					</van-button>
				</van-cell>
			</van-list>
		</van-popup>
		
		<van-tabbar v-model="active" active-color="#07c160" inactive-color="#000" fixed=true>
			<van-tabbar-item icon="home-o" @click="tab(0,0)">首页</van-tabbar-item>
			<van-tabbar-item icon="play-circle-o" @click="tab(0,1)">直播</van-tabbar-item>
			<van-tabbar-item icon="contact" @click="tab(0,2)">我的</van-tabbar-item>
		</van-tabbar>
	</div>
</body>
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/common.min.css">
<script src="js/vue.min.js"></script>
<script src="js/vant.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.base64.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/cookie.min.js"></script>
<script src="js/common.min.js"></script>
<script src="js/hls.min.js"></script>
<script type="application/javascript">
	var c0=[];
	var theme_app = new Vue({
		el:"#theme_app", 
		data: {
			active: 0, 
			activeNames: ['0'],
			loading: false,
			finished: false,
			list_pannel_show: false,
			list: c0,
			theme_title:'播放',
		},
		methods: {
			torank(){
				window.history.go(-1);
			},
			showPopup() {
				this.list_pannel_show = true;
			},
			onLoad() {
				this.loading = false;
				this.finished = true;
			},
		},
	});
	
	$(function () {
		vant.Toast.loading({
			type: 'loading',
			duration: 1000,
			message: '努力加载中...',
		});
		var vid=req["vid"];
		$.ajax({
			url:"https://api.eyunzhu.com/api/vatfs/resource_site_collect/getVDetail?vid="+vid,
			type:"GET",
			async:false,
			success:function(data){
				var c1;
				var play_list=data.data.playUrl;
				$('#title').html(data.data.name);
				$('#vtype').html(data.data.type);
				$('#vdefi').html(data.data.label);
				for(let key in play_list){
					c1={name:key,m3u8:play_list[key]};
					c0.push(c1);
				}
				theme_app.$set(theme_app,"list",c0);
				loadVideo(c0[0].m3u8);
			}
		});
	});
	
	function changejuji(juji_path,name){
		theme_app.$set(theme_app,'list_pannel_show', false);
		theme_app.$set(theme_app,"theme_title",name);
		loadVideo(juji_path);
	}
</script>
</html>